.neon-emerald {
  text-shadow:
    0 0 5px #6ee7b7,   /* emerald-300 */
    0 0 10px #34d399,  /* emerald-400 */
    0 0 20px #10b981,  /* emerald-500 */
    0 0 40px #059669;  /* emerald-600 */
  box-shadow:
    0 0 10px #10b981,
    0 0 20px #10b981,
    0 0 40px #10b981;
}


.neon-green {
  text-shadow:
    0 0 5px #86efac,   /* green-300 */
    0 0 10px #4ade80,  /* green-400 */
    0 0 20px #22c55e,  /* green-500 */
    0 0 40px #16a34a;  /* green-600 */
  box-shadow:
    0 0 10px #22c55e,
    0 0 20px #22c55e,
    0 0 40px #22c55e;
}

.neon-cyan {
  text-shadow:
    0 0 5px #67e8f9,   /* cyan-300 */
    0 0 10px #22d3ee,  /* cyan-400 */
    0 0 20px #06b6d4,  /* cyan-500 */
    0 0 40px #0891b2;  /* cyan-600 */
  box-shadow:
    0 0 10px #06b6d4,
    0 0 20px #06b6d4,
    0 0 40px #06b6d4;
}
.neon-sky {
  text-shadow:
    0 0 5px #7dd3fc,   /* sky-300 */
    0 0 10px #38bdf8,  /* sky-400 */
    0 0 20px #0ea5e9,  /* sky-500 */
    0 0 40px #0284c7;  /* sky-600 */
  box-shadow:
    0 0 10px #0ea5e9,
    0 0 20px #0ea5e9,
    0 0 40px #0ea5e9;
}
.neon-yellow {
  text-shadow:
    0 0 5px #fde047,   /* yellow-300 */
    0 0 10px #facc15,  /* yellow-400 */
    0 0 20px #eab308,  /* yellow-500 */
    0 0 40px #ca8a04;  /* yellow-600 */
  box-shadow:
    0 0 10px #eab308,
    0 0 20px #eab308,
    0 0 40px #eab308;
}
.neon-red {
  text-shadow:
    0 0 5px #fca5a5,   /* red-300 */
    0 0 10px #f87171,  /* red-400 */
    0 0 20px #ef4444,  /* red-500 */
    0 0 40px #dc2626;  /* red-600 */
  box-shadow:
    0 0 10px #ef4444,
    0 0 20px #ef4444,
    0 0 40px #ef4444;
}
.neon-amber {
  text-shadow:
    0 0 5px #fcd34d,   /* amber-300 */
    0 0 10px #fbbf24,  /* amber-400 */
    0 0 20px #f59e0b,  /* amber-500 */
    0 0 40px #d97706;  /* amber-600 */
  box-shadow:
    0 0 10px #f59e0b,
    0 0 20px #f59e0b,
    0 0 40px #f59e0b;
}

